{% for video in videos  %}
<a href={{ url_for('watch', video_id=video.id) }}>
    <table class="table table-hover">
        <tr>
            <td width="70px">
                <video width="320" height="240" controls>

                    <source src="{{video.path}}">

                </video>

            </td>
            <td>
                Likes : {{video.users.count()}}<br>
                Uploaded By : {{video.user.username}}<br>
                Title : {{video.title}}<br>
                description : {{video.description}}<br>
            </td>
        </tr>
    </table>
</a>

{% endfor %}