{% extends 'base.html' %}

{% block app_content %}
<h1>{{username}}</h1> 
<button id="start-bg-job">Download Content</button><br><br>
<div id="progress"></div>
<!-- <form action="/download" method="POST">
    <input type="submit" name=submit value="Download">
</form> -->
{% include '_video_list.html' %}
<script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
    function start_long_task(){

        div = $('<div class="Progress"><div></div><div>0%</div><div>...</div><div>&nbsp;</div></div><hr>')
        $('#progress').append(div);

        var nanobar = new Nanobar({
            bg: '#44f',
            target: div[0].childNodes[0]
        });


        $.ajax({
            type: 'POST',
            url: '/download',
            success: function(data, status, request) {
                status_url = request.getResponseHeader('Location');
                update_progress(status_url, nanobar, div[0]);
            },
            error: function(){
                alert('Unexpected Error');
            }
        });
    }
    function update_progress(status_url, nanobar, status_div) {
            // send GET request to status URL
            $.getJSON(status_url, function(data) {
                // update UI
                percent = parseInt(data['current'] * 100 / data['total']);
                nanobar.go(percent);
                $(status_div.childNodes[1]).text(percent + '%');
                $(status_div.childNodes[2]).text(data['status']);
                if (data['state'] != 'PENDING' && data['state'] != 'PROGRESS') {
                    if ('result' in data) {
                        // show result
                        $(status_div.childNodes[3]).text(data['state']);
                        anchor = $('<a display="style:none" href="/download_file" id></a>')
                        $('#progress').append(anchor);
                        $('#progress a')[0].click()
                    }
                    else {
                        // something unexpected happened
                        $(status_div.childNodes[3]).text('Result: ' + data['state']);
                    }
                }
                else {
                    // rerun in 2 seconds
                    setTimeout(function() {
                        update_progress(status_url, nanobar, status_div);
                    }, 2000);
                }
            });
        }
        $(function() {
            $('#start-bg-job').click(start_long_task);
        });

</script>
{% endblock %}